:root {

  --color-green: #5ECE7B;
  

  --color-bg: #FFFFFF;

  --color-grey-dark:#1D1F22;

  --shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);


}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-grey-dark);
  min-height: 100vh;
  height: 100%;
}

.button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }
}

.green-button {
  color: white;
  background-color: var(--color-green);
}