.title {
  padding: 8rem 10rem;
  margin-top: 5rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
  background-color: #fff;
  width: 34.6rem;
  height: 46.4rem;
  position: relative;

  &:hover &__button {
    opacity: 1;
    transition: all 0.5s;
  }

  &:hover {
    box-shadow: var(--shadow);
  }

  &__button {
    position: absolute;
    right: 20px;
    bottom: -3.8rem;
    opacity: 0;
    z-index: 10000;
  }

  &__image-container {
    width: 35.04rem;
    height: 36rem;
    margin-bottom: 2rem;
    position: relative;
  }

  &__image {
    position: relative;
    padding: 1rem;
    align-self: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin-left: 2rem;
  }
}

.out-of-stock {
  opacity: 0.5;

  h3 {
    position: absolute;
    top: 50%;
    left: 25%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.4rem;
    line-height: 38.4px;
    line-height: 160%;
  }
}
