.detailed-container {
  height: 90vh;
  display: flex;
  overflow: hidden;

}

.detailed-card {
  display: flex;
  margin-left: 15rem;
  margin-right: 30rem;
  width: 100%;
  height: 68rem;
  align-self: center;

  h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-style: bold;
    font-family: 'Roboto Condensed', sans-serif;
  }

  &__button {
    padding: 1.6rem 3.2rem;
    margin: 3rem 0;
  }

  
  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: black;
    overflow: auto;
  
  }


  ::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    display: flex;

    &__img {
      display: flex;

      &__not-selected {
        height: 50rem;
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        overflow: auto;

        &__image {
          width: 8rem;
          height: 8rem;
          margin: 1rem;
        }
      }

      &__selected-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 76rem;
        
  
        &__img {
        width: 100%;
        height: 100%;

        }
      }
    }

    &__info-container {
      display: flex;
      flex-direction: column;
      width: 20%;
      height: 100%;
      margin-left: 5rem;
   
    }
  }

  &__product {


    &__brand {
      font-size: 3rem;
      font-weight: 600;
    }

    &__price {
      font-weight: bold;
      font-size: 2.4rem;
   

      &__title {
        margin-bottom: 1rem;
      }
    }

    &__name {
      font-weight: normal;
      margin-bottom: 3rem;
      margin-top: -1rem;
    }

    &__attributes {


      &__attribute {
        display: flex;
        flex-direction: row;
        align-items: center;

      }

      &__name {

      }
    }
  }
}

.color-selected {
  width: 3.2rem;

}

.attribute-block {
  width: 3.2rem;
}

.color-selected-boder {
  padding: 1px;
  border: 1px solid var(--color-green);
  margin-right: .5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.color-not-selected-border {
  padding: 2px;
  margin-right: .5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.attribute {
  font-family: Source Sans Pro;
  width: 6.1rem;
  height: 4.5rem;
  display: flex;
  font-size: 1.6rem;
  letter-spacing: 5%;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.attribute-not-selected {
    border: 1px solid black;
    margin-bottom: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  
}

.attribute-selected {
    color: white;
    background-color: black;
    margin-bottom: 2rem;
    margin-right: 1rem;
    cursor: pointer;

}

.attributes-container {
  display: flex;
  flex-direction: column-reverse;
  
  
}




