.header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0 11.7rem;
  align-items: center;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: white;
  height: 10%;
}

.logo {
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 0 auto;
}

.nav {
  width: 25rem;
  justify-content: center;
  &__link {
    margin-right: 2rem;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--color-green);
      border-bottom: 2px solid (var(--color-green));
      padding-bottom: 1.3rem;
      transition: all 0.2s;
    }
  }
}

.selected {
  background-color: DodgerBlue;
}

.cart {
  margin-top: 0.5rem;
}

.cart-container {
  position: relative;
  display: flex;
}

.cartLength {
  display: flex;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  font-size: 1.1rem;
  color: white;
  position: absolute;
  z-index: 5000;
  top: 0px;
  right: -1rem;
  font-family: 'Roboto';
  font-weight: bold;
}

.hide-length {
  display: none;
}

.currency {
  margin-top: 0.5rem;
  margin-right: 2rem;

  img {
    width: 1.2rem;
    margin: 0 1rem;
  }
}

.hide-currencies {
  display: none;
}

.select {
  cursor: pointer;
  width: 10rem;
  font-size: 1.8rem;
  position: fixed;
  top: 9.8rem;
  right: 15rem;
  background-color: white;
  z-index: 3000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.09);
  padding-left: 2rem;
  font-weight: bold;

  &:focus {
    border: none;
  }
}
.option {
  font-size: 1.8rem;
  font-weight: 500;
  border: none;

  &:hover {
    background-color: #eeeeee;
  }
}

.active {
  color: var(--color-green);
  border-bottom: 2px solid (var(--color-green));
  padding-bottom: 1.3rem;
  transition: all 0.2s;
}
