:root {
  --color-green: #5ECE7B;
  --color-bg: #FFFFFF;
  --color-grey-dark:#1D1F22;
  --shadow: 0px 4px 35px rgba(168, 172, 176, 0.19); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-grey-dark);
  min-height: 100vh;
  height: 100%; }

.button {
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  .button:disabled {
    opacity: 0.3; }

.green-button {
  color: white;
  background-color: var(--color-green); }

.header {
  position: relative;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 0 11.7rem;
  align-items: center;
  height: 10vh; }

.logo {
  position: absolute;
  right: 50.0%;
  right: 50.0%;
  top: 20.75%;
  bottom: 29.47%; }

.nav__link {
  margin-right: 2rem;
  text-decoration: none;
  color: inherit; }
  .nav__link:hover {
    color: var(--color-green);
    border-bottom: 2px solid var(--color-green);
    padding-bottom: 1.3rem;
    transition: all .2s; }

.select {
  cursor: pointer;
  width: 2rem;
  font-size: 1.8rem;
  border: 0;
  background-color: transparent; }
  .select:focus {
    border: none; }
  .select:hover {
    background-color: #EEEEEE; }

option {
  color: var(--color-grey-dark);
  font-size: 1.8rem;
  font-weight: 500;
  border: none; }
  option:hover {
    background-color: #EEEEEE; }

.selected {
  background-color: DodgerBlue; }

.cart-container {
  display: flex;
  align-items: center; }

.cart {
  margin-top: .5rem; }

.home {
  display: flex;
  flex-wrap: wrap; }

.title {
  margin: 8rem 10rem; }

.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem; }

.product-card {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
  background-color: #fff;
  width: 38.6rem;
  height: 46.4rem;
  position: relative; }
  .product-card:hover .product-card__button {
    opacity: 1;
    transition: all .5s; }
  .product-card:hover {
    box-shadow: var(--shadow); }
  .product-card__button {
    position: absolute;
    right: 8%;
    bottom: 16%;
    opacity: 0; }
  .product-card__image-container {
    width: 35.04rem;
    height: 36rem;
    overflow: hidden;
    margin-bottom: 2rem; }
  .product-card__image {
    position: relative;
    padding: 1rem;
    align-self: none;
    width: 100%;
    height: auto;
    top: -2rem; }
  .product-card__content {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin-left: 2rem; }

.detailed-container {
  height: 90vh;
  display: flex;
  overflow: hidden; }

.detailed-card {
  display: flex;
  margin-left: 15rem;
  margin-right: 30rem;
  width: 100%;
  height: 68rem;
  align-self: center; }
  .detailed-card h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-style: bold;
    font-family: 'Roboto Condensed', sans-serif; }
  .detailed-card__button {
    padding: 1.6rem 3.2rem;
    margin: 3rem 0; }
  .detailed-card__description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: black;
    overflow: auto; }
  .detailed-card ::-webkit-scrollbar {
    display: none; }
  .detailed-card__container {
    height: 100%;
    width: 100%;
    display: flex; }
    .detailed-card__container__img {
      display: flex; }
      .detailed-card__container__img__not-selected {
        height: 50rem;
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        overflow: auto; }
        .detailed-card__container__img__not-selected__image {
          width: 8rem;
          height: 8rem;
          margin: 1rem; }
      .detailed-card__container__img__selected-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 76rem; }
        .detailed-card__container__img__selected-container__img {
          width: 100%;
          height: 100%; }
    .detailed-card__container__info-container {
      display: flex;
      flex-direction: column;
      width: 20%;
      height: 100%;
      margin-left: 5rem; }
  .detailed-card__product__brand {
    font-size: 3rem;
    font-weight: 600; }
  .detailed-card__product__price {
    font-weight: bold;
    font-size: 2.4rem; }
    .detailed-card__product__price__title {
      margin-bottom: 1rem; }
  .detailed-card__product__name {
    font-weight: normal;
    margin-bottom: 3rem;
    margin-top: -1rem; }
  .detailed-card__product__attributes__attribute {
    display: flex;
    flex-direction: row;
    align-items: center; }

.color-selected {
  width: 3.2rem; }

.attribute-block {
  width: 3.2rem; }

.color-selected-boder {
  padding: 1px;
  border: 1px solid var(--color-green);
  margin-right: .5rem;
  margin-bottom: 2rem;
  cursor: pointer; }

.color-not-selected-border {
  padding: 2px;
  margin-right: .5rem;
  margin-bottom: 2rem;
  cursor: pointer; }

.attribute {
  font-family: Source Sans Pro;
  width: 6.1rem;
  height: 4.5rem;
  display: flex;
  font-size: 1.6rem;
  letter-spacing: 5%;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 1rem; }

.attribute-not-selected {
  border: 1px solid black;
  margin-bottom: 2rem;
  margin-right: 1rem;
  cursor: pointer; }

.attribute-selected {
  color: white;
  background-color: black;
  margin-bottom: 2rem;
  margin-right: 1rem;
  cursor: pointer; }

.attributes-container {
  display: flex;
  flex-direction: column-reverse; }
