:root {
  --color-green: #5ECE7B;
  --color-bg: #FFFFFF;
  --color-grey-dark:#1D1F22;
  --shadow-dark: 0 2rem 8rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-grey-dark);
  min-height: 100vh; }

.header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  text-transform: uppercase; }

.nav__link {
  margin-right: 2rem;
  text-decoration: none; }

.home {
  display: flex;
  flex-wrap: wrap; }

.product-card {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  background-color: #fff;
  width: 20rem; }
  .product-card__image {
    width: 20rem;
    height: 20rem; }
